.hero .left div button:hover{
    cursor: pointer;
    background: #31bcdf;
    color: #232323;
    transition: 0.7s;
    border-color: transparent;
}


@media(max-width:768px){
    .hero .right{
        display: none;
    }
    header{
        align-items: center;
    }
    nav .right .menu a {
        font-size: 0.7rem;
        margin-right: 2rem;
        
    }
    .about .container .left p{
        font-size: 0.7rem;
    }
    .about .container .left {
        margin: 10px;
        padding: 10px;
    }
    .about .container{
        flex-direction: column;
    }
    .timelinebox .heading h1{
        font-size: 1rem;
        margin-bottom: 15px;
    }
}

::-webkit-scrollbar {
    width: 18px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }

  .timelinebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    min-height: 500px;
    box-shadow: 4px 3px 50px #34345233;
    padding: 10px;
    background: white;
    /* clip-path: polygon(0 0, 100% 0, 100% 87%, 80% 100%, 0 91%); */
    border-radius: 10px;
    max-width: 600px;
}

.timelinebox .heading h1{
    font-size: 6vw;
}
@media(min-width:769px){
    header, .about, .skills, .contact, .work,.about .container{
        height: 100vh;
    }
    .about .container .left{
        margin: 5px !important;
            }
            .exp-head{
                width: 20%;
                margin-top: 45%;
            }
            .work-cards {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                /* width: 75%; */
                height: 90vh;
                align-items: center;
                margin-top: 110px;
            
            }
}
@media(max-width:768px){
    header, .about, .skills, .contact, .work,.about .container{
        min-height: 60vh;
    }
    .about .container .left{
margin: 5px !important;
text-align: center;
    }
    .skills .container{
        flex-direction: column;
    }
    .skills .left, .skills .right {
        width: 100%;
        align-items: center;
    }
    .exp-head {
        width: 20%;
        margin-top: 11%;
    }
    .work-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 75%;
        min-height: 90vh;
        align-items: center;
        margin-top: 110px;
    }
    .contact .top {
        display: flex;
        margin: 10px;
        align-items: center;
        flex-direction: column;
    }
    .contact .right {
        width: 100%;
margin: 10px;
    }
    .contact .left {
        width: 80%;
margin: 10px;
    }
}
@media(max-width:500px){
    nav .right .menu a {
        font-size: 0.4rem;
        margin-right: 1rem;
    }
    .skills .right img {
        width: 300px;
        height: 293px;
    }
    .timeline-container li  div:before {
        display: none;
    }
    .timelinebox {
        
        min-height: 560px;
        min-width: 330px;
    }

    .branding img {
        width: 70px;
        margin: 2px;
        height: auto;
    }
    .hero{
        flex-direction: column;
      
    }
    .hero .right{
        display: flex;
    }
    .hero img {
        width: 170px;
    }
    header{
        min-height: 75vh;
        align-items: flex-end;
    }
    header .container {
        padding-top: 70px;
    }
    .about .container .left p {
        font-size: 1.1rem;
    }
    .about .container .left h3 {
        font-size: 7.3vw;
        color: white;
    }
    .about .container .left h2 {
        font-size: 4.3vw;
        color: white;
    }
    .about .container .left h1 {
        font-size: 14.5vw;
        text-transform: uppercase;
        color: #8B86D5;
    }
    .work-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 80%;
        min-height: 35vh;
        align-items: center;
        margin-top: 110px;
    }
}